# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
*.log
logs/

# Environment variables
.env

# Editor/IDE settings
.vscode/
.idea/

# System files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.bak
